<h1>All Customers</h1>

  <%= link_to 'New Customer', new_customer_path %>

<%= render @customers %>


<!-- <table>
  <thead>
    <tr>
      <th>Fullname</th>
      <th>Phonenumber</th>
      <th>Email</th>
      <th>Image</th>
      <th>Notes</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customers.each do |customer| %>
      <tr>
        <td><%= customer.fullName %></td>
        <td><%= customer.phoneNumber %></td>
        <td><%= customer.email %></td>
        <td><%= customer.image %></td>
        <td><%= customer.notes %></td>
        <td><%= link_to 'Show', customer %></td>
        <td><%= link_to 'Edit', edit_customer_path(customer) %></td>
        <td><%= link_to 'Destroy', customer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
 -->
